@import url("https://fonts.googleapis.com/css2?family=Asul&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
  font-family: "Asul", sans-serif;
  background-color: rgb(247, 239, 239);
}
body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 90rem;
      align-self: center;
      margin-top: 15rem;
    }
    button {
      padding: 20px;
      width: 25rem;
      font-size: 2rem;
      text-transform: capitalize;
      transition: 2s;
      margin: -10rem auto;
      align-self: center;
      background: white;
      color: black;
      border: 1px solid black;
      cursor: pointer;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  header {
    grid-area: header;
    background-color: rgb(52, 54, 68);
    color: ghostwhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    font-size: 2rem;
    p {
      color: ghostwhite;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: rgb(235, 146, 74);
      }
    }
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
    background-color: rgb(52, 54, 68);
    color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    .main {
      flex: 3 60rem;
    }
    .sidebar {
      flex: 1 20rem;
    }
  }
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;

    .titles {
      text-align: center;
      a {
        text-decoration: none;
      }
    }
    li {
      flex: 0 1 29rem;
      height: 47rem;
      padding: 1rem;
    }
    img {
      max-width: 32rem;
      max-height: 37rem;
    }
  }
  .product-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    text-align: center;
    flex: 1;
    font-size: 2rem;
    button {
      text-align: center;
      flex: 1;
    }
    .button {
      padding: 1rem;
      border: 0.1rem #c0c0c0 solid;
      background-color: #f0f0f0;
      cursor: pointer;
      &:hover {
        border: 0.1rem #808080 solid;
      }
    }
    .button.primary {
      background-color: #f0c040;
    }
  }
}
.checkout-section {
  display: flex;
  flex-direction: column;
  font-family: "Advent Pro", sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 5rem;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 10px rgba(black, 0.089);
  #creditCardBox {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: rgba(121, 34, 34, 0);
    align-items: center;
    input {
      padding: 0.4rem;
      width: 20rem;
    }
  }
  button {
    margin-top: 1.6rem;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: 1px solid black;
    padding: 0.5rem;
    width: 15rem;
    cursor: pointer;
  }
}
